.raceCard table {
    background-color: #ffffff;
    margin: auto;
    width: 60%;
    border-collapse: collapse;
    border-spacing: 0;
}

.raceCard table th,
.raceCard table td {
    padding: 10px 0;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
}

.raceCard table tbody tr:nth-child(odd) {
    background-color: #eee
}